@charset "utf-8";
/* CSS Document */
body{
	background-color:deepskyblue;
}
@media(max-width:500px){
footer{
	background-color: salmon;
	height: 200px;
	width: 1000px;
	height: 800px;
	}

<style>
.example{
    text-align: right;
    border: 1px solid #333;
}
	
	.phot2{
		text-align: right;
	}