@charset "utf-8";
/* CSS Document */
td li{
	display: flex;
	width:120px;
	text-align: center;
}
header{
	background-color: #2CFD6B;
	height:auto;
}
.title{
	text-decoration: underline #83A1C0;
}
.subtitle{
	text-decoration: underline #83A1C0;
}
.subsubtitle{
	text-decoration: underline #83A1C0;
}
.imge img{
	width:600px;
}
.imge{
	text-align: center;
}
