@charset "utf-8";
@import url("");

body{
	background-color:#9CAEB0;
}
header{
	height:100px;
	background-color:#BFB6A3;
}

header-left{
	float:left;
	margin:0px 20px 0px 20px;
}
header-right{

	
}
.header-ul{
	list-style:none;
}
.header-li{
	float:right;
	margin:20px;
}
main-right li{
	margin:20px;
}

main-right ul{
	list-style:none;
}
main-right{
	display:contents;
	background-color:#F9F9F9;
}
main-left{
	float:left;
	width:70%;
	background-color:#BBBBBB;
	height:9000px;
}

