@charset "utf-8";
@import url("reset.css")
/* CSS Document */
body{
	background:url
	}
div#container{
	width:900px;
	margin:auto;
	background:#ffffff;
	padding:10px 5px;
}
header h1{
	background:url
	padding:30px 65px;
	margin left:20px;
	color:#666666;
}
header nav ul{
	margin:0;
	padding:0;
	overflow:hidden;
}
header nav ul li{
	float:left;
	list-style-type:none;
}
header nav ul li a{
	display:block;
	width:142px;
	line-height:32px;
	margin:0 4px 10px 4px;
	text-align:center;
	color:#666666;
	text-decoration
}
